* {
    padding: 0;
    margin: 0;
}

canvas {
    background: rgb(0, 0, 0);
    display: block;
    margin: 0 auto;
}

#star {
    display: none;
    /*block if visiblwe*/
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-top: auto;
}

#timer {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 10%;
    font-size: 40px;
}